.animated-background {
  background: linear-gradient(-45deg, #ff8a00, #e52e71, #0071bc, #00bfff);
  background-size: 400% 400%;
  animation: gradientAnimation 15s infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
